<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= homeContent %></p>

<% blogTxt.forEach(function(elem){ %>
    <% 
    var length = 300;
    const truncatedString = elem.content.substring(0,length);
    %>
    <h2><%= elem.title %></h2>
    <p>
    <%= truncatedString +" .... "%>
    <a href="/post/<%= elem.title %>">Read More</a>
    </p>

<% }); %>


<%- include("partials/footer") -%>
